/**
    TODO: 
        - Implement responsive user interface
        - Styling user interface (if need)
*/

/*Import Font from Google font*/

:root {
  --primary: #c075ea;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Inter", sans-serif;
}

/* Clear default margin */

h1,h2,h3,h4,h5,p,a {
  margin: 0;
}

/* Color Class */

.primary-color {
  color : #C075EA;
}

.primary-bg {
  background-color: #F7E4FF;
}

/* NAVBAR */
.nav-link:hover {
  color: var(--primary);
}
#navbarNavDropdown {
  margin-top: 20px;
  padding: 10px;
  text-align: center;
}

.navbar-logo {
  height: 80px;
  width: 250px;
}


/* Sidebar Menu */

.menu-active {
  color : #C075EA;
  background-color: #F7E4FF;
}

.sidebar img {
  fill : gray;
}

.register-container{
  height: 90vh;
}

.register-container .row {
  width: 100%;
}

/* icon sizing */

.like-icon img,
.comment-icon img {
  width: 20px;
}

.profile-image {
  height: 200px;
  margin-bottom: 150px;
}

.profile-image img{
  top: 100%;
  height: 250px;
  width: 250px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile-icon {
  width: 60px;
}